<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	
	<sec:http auto-config="true">
		<sec:intercept-url pattern="/admin*" access="ROLE_ADMIN"/>
		<sec:intercept-url pattern="/main*" access="ROLE_USER"/>
		<sec:intercept-url pattern="/transaction*" access="ROLE_USER"/>
		<sec:intercept-url pattern="/payment*" access="ROLE_USER" />
		<sec:intercept-url pattern="/stat*" access="ROLE_USER" />
		<sec:intercept-url pattern="/ads_report*" access="ROLE_USER" />
		<sec:form-login
			login-page="/login.html"
			authentication-success-handler-ref="myAuthenticationSuccessHandler"
			authentication-failure-url="/login.html?login_error=1"
		/>
		<sec:logout logout-success-url="/login.html" delete-cookies="JSESSIONID"/>
	</sec:http>
	
	<bean id="myAuthenticationSuccessHandler"
        class="com.mercury.security.MySimpleUrlAuthenticationSuccessHandler" />
	<bean id="logoutListener" class="com.mercury.security.LogoutListener" />

	<sec:authentication-manager alias="authenticationManager">
		<sec:authentication-provider>
			<sec:jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="
					select username, password, enabled 
					from all_user where username=?"
				authorities-by-username-query="
					select username, authority 
					from all_user
					where username=?"
			/>
		</sec:authentication-provider>
	</sec:authentication-manager>
</beans>